

body {
    margin: 0px;
}


.navbar {
    background-color: rgb(220, 220, 220);
    display: flex;
    height: 10vh;
}
.nav-left {
    flex: 50%;
    align-items: center;
}
.nav-left ul{
    align-items: center;
}
.nav-left a{
    margin-left: 50px;
    text-decoration: none;
    color: rgb(10, 10, 10);
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
}
.nav-left a:hover{
    color: darkmagenta;
}
.nav-right{
    display: flex;
    flex: 50%;
    align-items: center;
    margin-right: 100px;
    justify-content: flex-end;
}
.nav-right a{ 
    border-radius: 15px;   
    padding:8px 15px;
    background-color: black;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 300;
}
.nav-right a:hover{
    background-color: darkmagenta;
    color: white;
}
.navbar li{
    list-style-type: none;
}
.navbar ul{
    display: flex;
    text-decoration: none ;
}

.navbar a{
    
}
.container {
    display:flex;
    justify-content: center;
    padding: 30px 60px;
    border-radius: 12px;
    border: 1px;
    background-color: whitesmoke;
}
.content {
    text-align: center;
    margin-bottom: 0px;
}
.content h2{
    font-family: 'Roboto';
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0px;
}
.form-group {
    padding: 20px 50px;
    height: 900px;
    width: 600px;
    text-align: left;
}
.form-group-project {
    margin: 20px;
}
.form-group-project input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px hidden;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px 5px 10px #ccc;
}
.form-group-project label{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    margin:10px 10px;
}
.form-group-project-date {
    width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
}
.date-left{
    flex:40%;
    justify-content: center;
}
.date-right{
    flex: 40%;
    float: right;
}
.form-group-project-date input{
    width: 85%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px hidden;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 5px 5px 10px #ccc;
}
.form-group-project-date label{
    font-family: 'Open Sans';
    font-weight: bold;
    font-size: 18px;
    margin:10px 10px;
}
textarea{
    width: 100%;
    box-sizing: border-box;
    resize: none;
    border: 1px hidden;
    border-radius: 5px;
    box-shadow: 5px 5px 10px #ccc;
    margin-bottom:40px;
}
input [type="file"] {

}
.tech {
    display: flex;
}
.tech-title {
    padding-left: 40px;
    margin-bottom: 20px;
    text-align: left;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto';
}
.tech-fill {
    width: 100%;
    height: 80px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 14px;
    font-weight: 600;
    font-family: 'Roboto'
}
.tech-fill label{
    margin: auto;
}
.tech-fill-top{
    flex: 50%;
    justify-content: flex-start;
}
.tech-fill-top input{
    margin-left: 30px;
}
.tech-fill-bottom input{
    margin-left: 30px;
}
.tech-fill-bottom{
    flex:50%;
    justify-content: flex-end;
}
.form-input-image{
    background-color: white;
    box-shadow: 5px 5px 10px #ccc;
    border: 1px hidden;
    border-radius: 5px;
    align-items: center;
    width: 91%;
    display: flex;
    justify-content: center;
    margin-left: 30px;
}
.form-input-image input{
    width: 100%;
}
.form-input-image input:hover {
    background-color: grey;
    cursor: pointer;
}
.form-input-image label{
    width: 100%;
    display: flex;
    font-size: 17px;
    font-family: 'Open Sans';
    font-weight: 600;
}
label p{
    margin: 0px;
    display: flex;
    padding: 10px;
    color: grey;
    background-color: #ccc;
    width:60px;
    height: 25px;
    border: 1px hidden;
    border-radius: 5px 0px 0px 5px;
}
label p:hover{
    background-color:darkmagenta;
    color: white;
    cursor: pointer;
}
button {
    background-color: violet;
    margin-top: 30px;
    margin-left: 55px;
    width: 80%;
    height: 50px;
    text-align: center;
    align-items: center;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 5px;
    border: 1px hidden;
    box-shadow: 5px 5px 10px #ccc;
    border-radius: 5px;
}
button:hover {
    background-color: darkmagenta;
    cursor: pointer;
    color: white;
}
.posted-project {
    width: 100%;
    height: auto;
    border: 1px solid black;
    background-color: rgb(255, 255, 255);
}
.post-title {
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    font-family: 'Roboto';
    margin-top: 50px;
    text-align: center;
}
.post-page {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 50px 50px;
}
.card {
    width: auto;
    margin: 25px;
    padding: 30px 50px;
    border: 1px hidden;
    border-radius: 5px;
    background-color: white;
    box-shadow:  5px 5px 10px #ccc;
    display: flex;
    flex-wrap:wrap;
    flex-direction: column;
    justify-content: center;
}
.card-title {
    font-size: 18px;
    font-family: 'Roboto';
    font-weight:600;
    width: 320px;
    text-align: justify;
    text-decoration: none;
    color: black;
}
.content-text {
    font-size: 16px;
    font-family: 'Open Sans';
    font-weight: 500;
    width: 320px;
    color:black;
    text-align: justify;
}
.content-duration{
    font-size: 14px;
    font-family: 'Open Sans';
    font-weight: 500;
    width: 320px;
    color:gray;
    text-align: justify;
}
.card img {
    width: 320px;
    border: 1px hidden;
    border-radius:5px;
    margin-bottom: 30px;
}
.card-button-group {
    display: flex;
    justify-content: center;
}
.card-button-group a {
    width: 100px;
    height: 30px;
    border: 1px hidden;
    border-radius: 5px;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Roboto';
    font-weight: 400;
    text-align: center;
    padding-top: 5px;
    display: flex;
    justify-content: center;
    margin-right: 50px;
}
.card-button-group a:hover {
    background-color: darkmagenta;
    color: white;
}
.tech-logo img{
    width: 30px;
}
.tech-logo a {
    margin-right: 10px;
}
